<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Pet</title>
</head>
<body>

<div class="container">

    <h3>Add New Pet</h3>
    <hr/>

    <form th:action="@{/pets/add}" th:object="${pet}" method="POST" enctype="multipart/form-data">

        <input type="text" th:field="*{name}" placeholder="Enter Name" />

        <input type="text" th:field="*{description}"  placeholder="Enter Description" />

        <input type="text" th:field="*{age}" placeholder="Enter Age" />

        <select th:field="*{type}">
            <option value="DOG">Dog</option>
            <option value="CAT">Cat</option>
        </select>

        <input type="file" th:name="photo" accept="image/jpeg"/>

        <button type="submit">Save</button>
    </form>
    <hr/>
    <a th:href="@{/pets}">Back to pets</a>
</div>
</body>
</html>
